<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Shared/mainlayout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en"
>
<body><div layout:fragment="content">
    <table>
        <thead>
            <tr>
                <th>Sent by</th>
                <th>At</th>
                <th>Content</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="message : ${messages}" th:object="${message}">
                <td th:text="*{username}"></td>
                <td th:text="*{createdAt}"></td>
                <td th:text="*{content}"></td>
            </tr>
        </tbody>
    </table>
</div></body>
</html>